{{outlet}}

<h2 class="new-game-form__title">Edit The {{model.game.awayTeam.name}} @ {{model.game.homeTeam.name}}</h2>

{{#simple-form class="new-game-form" startingValues=model.game onsubmit="saveGame" as |formValues|}}
  {{partial 'admin/games/form'}}

  {{mdl-button isFloating=true icon='add'}}
  {{mdl-button action='removeGame' isFloating=true icon='delete'}}

{{/simple-form}}
