{{outlet}}

<h2 class="edit-game-form__title">Edit The {{model.game.awayTeam.name}} @ {{model.game.homeTeam.name}}</h2>

{{#simple-form class="new-game-form" startingValues=model.game onsubmit="saveGame" as |formValues|}}
  {{partial 'admin/games/form'}}

<div class="edit-game-form__btns">
    {{mdl-button class='edit-game-btn' isFloating=true icon='add'}}
    {{mdl-button class='edit-game-btn' action='removeGame' isFloating=true icon='delete'}}
</div>
{{/simple-form}}
