{{outlet}}

<h2 class="new-game-form__title">Edit The {{model.city}} {{model.name}}</h2>

{{#simple-form class="new-game-form" startingValues=model onsubmit="saveGame" as |formValues|}}
  {{partial 'admin/games/form'}}

  {{mdl-button isFloating=true icon='add'}}
  {{mdl-button action='removeGame' isFloating=true icon='delete'}}

{{/simple-form}}
