<ul class="section-title">Game Summary
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Date' value=formValues.Date}}</li>
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Home Team' value=formValues.homeTeam}}</li>
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Home Score' value=formValues.homeScore}}</li>
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Away Team' value=formValues.awayTeam}}</li>
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Away Score' value=formValues.awayScore}}</li>
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Winning Team' value=formValues.winningTeam}}</li>
</ul>
