<ul class="section-title">Game Summary
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Date' value=formValues.Date}}</li>

  <li class="game-li">
    {{#x-select value=model.game.homeTeam action=(mut formValues.homeTeam)}}
      <option>Select A Team</option>
      {{#each model.teams as |team|}}
        {{#x-option value=team}}{{team.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </li>
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Home Score' value=formValues.homeScore}}</li>

  <li class="game-li">
    {{#x-select value=model.game.awayTeam action=(mut formValues.awayTeam)}}
      <option>Select A Team</option>
      {{#each model.teams as |team|}}
        {{#x-option value=team}}{{team.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </li>
  <li class="game-li">{{mdl-textfield class="new-game-form__input" label='Away Score' value=formValues.awayScore}}</li>

  <li class="game-li">
    {{#x-select value=model.game.winningTeam action=(mut formValues.winningTeam)}}
      <option>Select A Team</option>
      {{#each model.teams as |team|}}
        {{#x-option value=team}}{{team.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </li>
</ul>
