{{!-- ACTIVITIES PANNELS --}}


<div class="pannel">
  <div class="pannle-title-section">

  </div>
  <div class="pannel-info">
    {{#each model.activities as |activity|}}
      <ul class="pannel__ul" style="background:{{model.team.teamColors.primary}}">
        <li class="pannel__li pannel-li__icon"><img src="{{activity.activityNameIcon}}" alt=""></li>
        <li class="pannel__li pannel-li__title"><a href="{{activity.linkUrl}}" target="_blank" >{{activity.activityName}}</a></li>
        <li class="pannel__li pannel-li__description">{{activity.description}}</li>
        <li class="pannel__li">{{activity.address}}</li>
        {{#if activity.airportCode}}
        <li class="pannel__li">{{activity.airportCode}}</li>
        {{/if}}
      </ul>
    {{/each}}
  </div>
</div>
