{{!-- ACTIVITIES PANNELS --}}


<div class="pannel" style="background: url({{model.citySkyline}}) fixed center no-repeat; background-size: cover">
  <div class="pannel-info">
    {{#each model.activities as |activity|}}
      <ul class="pannel__ul" >
        <li class="pannel__li pannel-li__icon"><a href="{{activity.linkUrl}}" target="_blank" ><img src="{{activity.activityNameIcon}}" alt=""></a></li>
        <li class="pannel__li pannel-li__title"><a href="{{activity.linkUrl}}" target="_blank" >{{activity.activityName}}</a></li>
        <li class="pannel__li pannel-li__description">{{activity.description}}</li>
        <li class="pannel__li">{{activity.address}}</li>
        {{#if activity.airportCode}}
        <li class="pannel__li">{{activity.airportCode}}</li>
        {{/if}}
      </ul>
    {{/each}}
  </div>
</div>
