<h1 class='team-detail__title'>{{model.city}} {{model.name}}</h1>
<ul class="team-details__ul">
  <li class="team-details__li">
    Year Established: {{model.established}}
  </li>
  <li class="team-details__li">
    Historic Record: {{model.totalRecord}}
  </li>
  <li class="team-details__li">
    Where Do the {{model.name}} play?: {{model.stadiumName}}
  </li>
  <li class="team-details__li">
    Conference: {{model.conference}}
  </li>
  <li class="team-details__li">
    Division: {{model.division}}
  </li>
</ul>

<ul class="team-details__ul"> More Info
  <li class="team-details__li">
    Team Owner: {{model.owner}}
  </li>
  <li class="team-details__li">
    General Manager: {{model.generalManager}}
  </li>
  <li class="team-details__li">
    Coach: {{model.coach}}
  </li>
  <li class="team-details__li">
    Coach Record: {{model.coachRecord}}
  </li>
  <li class="team-details__li">
    Star Player: {{model.startPlayer}}
  </li>
</ul>

<div class="team-details_btns">
    {{#link-to 'admin.teams'}}{{mdl-icon icon='arrow_back'}} {{/link-to}}
    {{#link-to 'admin.teams.edit' model}}{{mdl-icon icon='edit'}}{{/link-to}}
</div>
