{{outlet}}

<h2 class="new-team-form__title">Edit The {{model.city}} {{model.name}}</h2>

{{#simple-form class="new-team-form" startingValues=model onsubmit="saveTeam" as |formValues|}}
  {{partial 'admin/teams/form'}}

  {{mdl-button isFloating=true icon='add'}}
  {{mdl-button action='removeTeam' isFloating=true icon='delete'}}

{{/simple-form}}
