<h1 class="register-form__title">Road Game</h1>
<img class="register-form__hero" src="/team-logos/roadgamemap.png" alt="">

<div class="register-form">
  {{#simple-form onsubmit="registerUser" as |user|}}
  <p class="register-form__graph">
    {{mdl-textfield class="register-form__input"value=user.firstName label="First Name"}}
    {{mdl-textfield class="register-form__input"value=user.lastName label="Last Name"}}
  </p>
  <p class="register-form__graph">
    {{mdl-textfield class="register-form__input"value=user.email label="Email"}}
    {{mdl-textfield class="register-form__input"value=user.favoriteTeam label="Favorite Team"}}
  </p>
  <p class="register-form__graph">
    {{mdl-textfield class="register-form__input"type="password" value=user.password label="Password"}}
    {{mdl-textfield class="register-form__input"type="password" value=user.passowrd_confirmation label="Confirm Password"}}
  </p>
  <ul class="register-form__btns">
    <li class="register-form__btn">
      {{#mdl-button}}Submit{{/mdl-button}}
    </li>
    <li class="register-form__btn">
      {{#link-to 'login' class="login-text-link"}}
        Already Have An Account?
      {{/link-to}}
    </li>
  </ul>
    {{/simple-form}}

</div>


<style>

  .register-form__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }

  .register-form__btn {
    list-style: none;
    margin: 5px;
  }

  .grey-text {
    color: #888;
  }
  .register-form__title  {
    font-family: 'Black Ops One', sans-serif;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    border: 5px dotted #000;
    margin-top: 50px;
    text-align: center;
  }

  .register-form__hero {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 20px;
  }

  .register-form__graph {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
  }

  .register-form__input {
    margin: 5px;
  }

</style>
