<div class="new-team-form">
  <ul class="new-team-form-ul">
    <li class="new-team-form__li new-team-form__li-title">Team Basics</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='Team Name' value=formValues.name}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='City' value=formValues.city}}</li>
    <li class="new-team-form__li">{{mdl-textarea class="new-team-form__input" label="About"  value=formValues.cityDescription}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='Airport' value=formValues.airport}}</li>
  </ul>
  <ul class="new-team-form-ul">
    <li class="new-team-form__li new-team-form__li-title">Team Record</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" type="number" label='Total Wins' value=formValues.totalWins}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" type="number" label='Total Losses' value=formValues.totalLosses}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" type="number" label='Total Ties' value=formValues.totalTies}}</li>
  </ul>

  <ul class="new-team-form-ul">
    <li class="new-team-form__li new-team-form__li-title">Info</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='Team Owner' value=formValues.owner}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='General Manager' value=formValues.generalManager}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" type="number" label='Year Established' value=formValues.established}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='Stadium Name' value=formValues.stadiumName}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='Conference' value=formValues.conference}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='Division' value=formValues.division}}</li>
  </ul>

  <ul class="new-team-form-ul">
    <li class="new-team-form__li new-team-form__li-title">Coaching</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='Coach' value=formValues.coach}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" type="number" label='Wins' value=formValues.coachWins}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" type="number" label='Losses' value=formValues.coachLosses}}</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" type="number" label='Ties' value=formValues.coachTies}}</li>
  </ul>

  <ul class="new-team-form-ul">
    <li class="new-team-form__li new-team-form__li-title">Extra Notes</li>
    <li class="new-team-form__li">{{mdl-textfield class="new-team-form__input" label='Star Player' value=formValues.startPlayer}}</li>
    <li class="new-team-form__li">{{mdl-textarea class="new-team-form__input" label="About"  value=formValues.description}}</li>
  </ul>
</div>
