<h1 class='game-detail__title'>{{model.awayTeam.name}} vs.  {{model.homeTeam.name}}</h1>
<ul class="game-details__ul">
  <li class="game-details__li">Game Date  : {{model.date}}</li>
  <li class="game-details__li">Home Team: {{model.homeTeam.name}}  {{model.homeScore}}</li>
  <li class="game-details__li">Away Team: {{model.awayTeam.name}}  {{model.awayScore}}</li>
  <li class="game-details__li">Winner: {{model.winningTeam.name}}</li>
</ul>

<div class="game-details_btns">
    {{#link-to 'admin.games'}}{{mdl-icon class='game-detail-btn' icon='arrow_back'}} {{/link-to}}
    {{#link-to 'admin.games.edit' model.id}}{{mdl-icon class='game-detail-btn' icon='edit'}}{{/link-to}}
</div>
