<div class="nav">
  {{#link-to 'index'}}<img class="nav-logo" src="/team-logos/map.jpg" alt="">{{/link-to}}
  <ul class="nav-ul">
    <li class="nav-li">
      {{#link-to 'teams'}}Teams{{/link-to}}
    </li>
    <li class="nav-li">
      {{#link-to 'login' }}Login{{/link-to}}
    </li>
    <li class="nav-li">
      {{#link-to 'admin'}}Admin{{/link-to}}
    </li>
  </ul>
</div>
<div class="team-page__header">
  <div class="team-page__logo-section">
    <img src="{{model.imgUrl}}" alt="" class="team__logo">
  </div>
  <div class="team-page__info">
    <h1 class="team-page__title">The {{model.city}}{{model.name}}</h1>
    <div class="team-stats__section">
      <ul class="team-stats__ul">
        <li class="team-stats__li">Year Established: {{model.established}}</li>
        <li class="team-stats__li">Record: {{model.totalRecord}}</li>
        <li class="team-stats__li">Where Do the {{model.name}} play? {{model.stadiumName}}</li>
        <li class="team-stats__li">Conference: {{model.conference}}</li>
        <li class="team-stats__li">Division: {{model.division}}</li>
      </ul>
      <ul class="team-stats__ul">
        <li class="team-stats__li">Team Owner: {{model.owner}}</li>
        <li class="team-stats__li">General Manager: {{model.generalManager}}</li>
        <li class="team-stats__li">Coach: {{model.coach}}</li>
        <li class="team-stats__li">Coach Record: {{model.coachRecord}}</li>
        <li class="team-stats__li">Star Player: {{model.startPlayer}}</li>
        <li class="team-stats__li">Fun Fact: {{model.description}}</li>
      </ul>
    </div>
  </div>
</div>
{{outlet}}
