<div class="team-page">
<div class="team-page__header">
  <img class=header__image src="{{model.teamLogo}}" alt="">
  <div class="team-page__title-sec" style="background: {{model.teamColors.primary}}">
    <h2 class="team-page__sub-title" style="color: {{model.teamColors.secondary}}">The {{model.city}}</h2>
    <h1 class="team-page__title" style='color: {{model.teamColors.secondary}}'>{{model.name}}</h1>
  </div>
</div>
<div class="team-page__info-section">
  <div class="team-info__box box-record" style="background: {{model.teamColors.primary}}">
    {{#toggle-click as |isShowing|}}
    <h3 class="info__title"> The 2016 {{model.name}}</h3>
    <p class="team__record">{{model.totalRecord}}</p>
    <img class='conference__logo' src="{{model.conferenceImg}}" alt="">
    <div class="team-info__box-cover {{if isShowing 'fade-out'}}">
      <img class="cover__image cover__image-sm" src="{{model.teamLogo}}" alt="">
      <p class="team-info__box-cover-text" style="color: {{model.teamColors.secondary}}" id="record">RECORD</p>
    </div>
    {{/toggle-click}}
  </div>
  <div class="team-info__box box-leaders" style="background: {{model.teamColors.primary}}">
    {{#toggle-click as |isShowing|}}
      <h3 class="info__title">{{model.name}} Leadership</h3>
      <div class="leaders__list" style="background: {{model.teamColors.secondary}}">
        <ul class="leaders__ul" id="leaders">
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">Team Owner:</li>
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">General Manager:</li>
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">Coach:</li>
        </ul>
        <ul class="leaders__ul" id="leader-answers">
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">{{model.owner}}</li>
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">{{model.owner}}</li>
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">{{model.coach}}</li>
        </ul>
      </div>
      <ul class="coach__record" id="leader-answers" style="background: {{model.teamColors.secondary}}">
        <li class="coach__record-title" style="color:{{model.teamColors.accent}}">Coach {{model.coach}}'s Record</li>
        <li class="coach__record-title" style="color:{{model.teamColors.accent}}">{{model.coachRecord}}</li>
      </ul>
      <div class="team-info__box-cover {{if isShowing 'fade-out'}}" >
        <img class="cover__image cover__image-sm" src="{{model.teamLogo}}" alt="">
        <p class="team-info__box-cover-text" style="color: {{model.teamColors.secondary}}">BRASS</p>
      </div>
      {{/toggle-click}}
    </div>
    <div class="team-info__box box-about" style="background: {{model.teamColors.primary}}">
      {{#toggle-click as |isShowing|}}
      <h3 class="info__title">About The {{model.name}}</h3>
      <div class="leaders__list" style="background: {{model.teamColors.secondary}}">
        <ul class="leaders__ul" id="leaders">
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">Year Established:</li>
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">Conference:</li>
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">Division:</li>
        </ul>
        <ul class="leaders__ul" id="leader-answers">
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">{{model.established}}</li>
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">{{model.conference}}</li>
          <li class="team__leaders-li" style="color:{{model.teamColors.accent}}">{{model.division}}</li>
        </ul>
      </div>
      <p class="facts__graph" style="background: {{model.teamColors.secondary}}">
        <span style="color:{{model.teamColors.accent}}">{{model.description}}</span>
      </p>
      <div class="team-info__box-cover {{if isShowing 'fade-out'}}">
        <img class="cover__image cover__image-lg" src="{{model.teamLogo}}" alt="">
        <p class="team-info__box-cover-text box-cover-text-lg" style="color: {{model.teamColors.secondary}}">MORE</p>
      </div>
      {{/toggle-click}}
    </div>
  </div>
  <div class="team-sched">
    {{team-schedule team=model}}
  </div>

  <div class="activities-pannel__titles">
    {{#link-to 'team-page'}}<p class="pannel-title">{{model.city}}</p>{{/link-to}}
    <ul class="activities-pannel__ul">
      {{#link-to "team-page.activities" "Eat"}}<li class="activities-pannel__li pannel__first" style="background: {{model.teamColors.primary}}"> Eat</li>{{/link-to}}
      {{#link-to "team-page.activities" "Drink"}}<li class="activities-pannel__li pannel__first" style="background: {{model.teamColors.primary}}"> Drink</li>{{/link-to}}
      {{#link-to "team-page.activities" "Travel"}}<li class="activities-pannel__li" style="background: {{model.teamColors.primary}}"> Travel</li>{{/link-to}}
      {{#link-to "team-page.activities" "Stay"}}<li class="activities-pannel__li pannel__last" style="background: {{model.teamColors.primary}}"> Stay</li>{{/link-to}}
      {{#link-to "team-page.activities" "Sports"}}<li class="activities-pannel__li pannel__last" style="background: {{model.teamColors.primary}}"> Sports</li>{{/link-to}}
    </ul>
  </div>
</div>
{{outlet}}
