{{!-- TEAM PAGE --}}
<div class="team-page">

  <div class="team-page__header" style="background: url({{model.citySkyline}}) fixed center no-repeat; background-size: cover">
    <div class="team-page__header-cover" style="background: {{{model.teamColors.secondary}}}"></div>
    <div class="team-page__header-logo">
      <img class=header__image src="{{model.teamLogo}}" alt="">
    </div>
  </div>

  <div class="activities-pannel__titles" style="background: url({{model.stadiumImg}}) fixed center no-repeat; background-size: cover">
    <div class="pannel__menu-cover" style="background: {{{model.teamColors.accent}}}"></div>
    <div class="pannel-screens">
      <ul class="activities-pannel__ul">
      {{#link-to 'team-page'}}<li class="activities-pannel__li pannel__first" style="background: {{model.teamColors.primary}}">{{model.city}}</li> {{/link-to}}
      {{#link-to "team-page.activities" "Eat"}}<li class="activities-pannel__li pannel__first" style="background: {{model.teamColors.primary}}"> Eat</li>{{/link-to}}
      {{#link-to "team-page.activities" "Drink"}}<li class="activities-pannel__li pannel__first" style="background: {{model.teamColors.primary}}"> Drink</li>{{/link-to}}
      {{#link-to "team-page.activities" "Travel"}}<li class="activities-pannel__li" style="background: {{model.teamColors.primary}}"> Travel</li>{{/link-to}}
      {{#link-to "team-page.activities" "Stay"}}<li class="activities-pannel__li pannel__last" style="background: {{model.teamColors.primary}}"> Stay</li>{{/link-to}}
      {{#link-to "team-page.activities" "Sports"}}<li class="activities-pannel__li pannel__last" style="background: {{model.teamColors.primary}}"> Sports</li>{{/link-to}}
      </ul>
    </div>
  </div>
</div>


{{outlet}}

<div class="team-page__info-section">
  <div class="team-info__box box-record" style="background-color: {{model.teamColors.primary}}">
    {{#toggle-click as |isShowing|}}
    <div class="info-center">
      <h3 class="info__title"> The 2016 {{model.name}}</h3>
      <p class="team__record">{{model.totalRecord}}</p>
      <img class='conference__logo' src="{{model.conferenceImg}}" alt="">
    </div>
    <div class="team-info__box-cover {{if isShowing 'fade-out'}}">
      <img class="cover__image cover__image-sm" src="{{model.teamLogo}}" alt="">
      <p class="team-info__box-cover-text" style="color: {{model.teamColors.primary}}" id="record">RECORD</p>
    </div>
    {{/toggle-click}}
  </div>
  <div class="team-info__box box-leaders" style="background: {{model.teamColors.primary}}">
    {{#toggle-click as |isShowing|}}
    <div class="info-center">
      <h3 class="info__title">{{model.name}} Leadership</h3>
      <div class="leaders__list">
        <ul class="leaders__ul" id="leaders">
          <li class="team__leaders-li">Team Owner:</li>
          <li class="team__leaders-li">General Manager:</li>
          <li class="team__leaders-li">Coach:</li>
        </ul>
        <ul class="leaders__ul" id="leader-answers">
          <li class="team__leaders-li">{{model.owner}}</li>
          <li class="team__leaders-li">{{model.owner}}</li>
          <li class="team__leaders-li">{{model.coach}}</li>
        </ul>
      </div>
    </div>
    <div class="team-info__box-cover {{if isShowing 'fade-out'}}" >
      <img class="cover__image cover__image-sm" src="{{model.teamLogo}}" alt="">
      <p class="team-info__box-cover-text" style="color: {{model.teamColors.primary}}">BRASS</p>
    </div>
    {{/toggle-click}}
    </div>

    <div class="team-info__box box-about" style="background: {{model.teamColors.primary}}">
      {{#toggle-click as |isShowing|}}
      <div class="info-center">
        <h3 class="info__title">About The {{model.name}}</h3>
        <div class="leaders__list">
          <ul class="leaders__ul" id="leaders">
            <li class="team__leaders-li">Year Established:</li>
            <li class="team__leaders-li">Conference:</li>
            <li class="team__leaders-li">Division:</li>
          </ul>
          <ul class="leaders__ul" id="leader-answers">
            <li class="team__leaders-li">{{model.established}}</li>
            <li class="team__leaders-li">{{model.conference}}</li>
            <li class="team__leaders-li">{{model.division}}</li>
          </ul>
        </div>
        <p class="facts__graph">{{model.description}}</p>
      </div>
      <div class="team-info__box-cover {{if isShowing 'fade-out'}}">
        <img class="cover__image" src="{{model.teamLogo}}" alt="">
        <p class="team-info__box-cover-text" style="color: {{model.teamColors.primary}}">MORE</p>
      </div>
      {{/toggle-click}}
    </div>
  </div>
  <div class="team-sched">
    {{team-schedule team=model}}
  </div>
