<div class="team-page__header">
  <img class=header__image src="{{model.imgUrl}}" alt="">
  <div class="team-page__title-sec" style="background: {{model.teamColors.primary}}">
    <h2 class="team-page__sub-title" style="color: {{model.teamColors.secondary}}">The {{model.city}}</h2>
    <h1 class="team-page__title">{{model.name}}</h1>
  </div>
  <img class=header__image src="{{model.imgUrl}}" alt="">
</div>

<div class="team-page__info-section">
  <div class="team-info__box box-record" style="background: {{model.teamColors.primary}}">
    <h3 class="info__title"> The 2016 {{model.name}}</h3>
    <p class="team__record" style="background: {{model.teamColors.secondary}}">{{model.totalRecord}}</p>
    <img class='conference__logo' src="{{model.conferenceImg}}" alt="">
    <div class="team-info__box-cover-sm"><h2 class="team-info__box-cover-text">RECORD</h2></div>
  </div>
{{!--
  </div>
  <div class="team-info__box box-leaders">
    <h3 class="info__title">{{model.name}} Leadership</h3>
    <div class="leaders__list">
      <ul class="leaders__ul" id="leaders">
        <li class="team__leaders-li">Team Owner:</li>
        <li class="team__leaders-li">General Manager:</li>
        <li class="team__leaders-li">Coach:</li>
      </ul>
      <ul class="leaders__ul" id="leader-answers">
        <li class="team__leaders-li">{{model.owner}}</li>
        <li class="team__leaders-li">{{model.owner}}</li>
        <li class="team__leaders-li">{{model.coach}}</li>
      </ul>
    </div>
  </div>
  <div class="team-info__box box-about">
    <h3 class="info__title">About The {{model.name}}</h3>
    <p class="about__stats">Year Established:  {{model.established}}</p>
    <p class="about__stats">Conference:  {{model.conference}}</p>
    <p class="about__stats">Division:  {{model.division}}</p>
    <p class="about__graph">
      {{model.description}}
    </p>
  </div> --}}
</div>

{{!--
<div class="team-page__header" style="background-image: url({{model.citySkyline}})">
  <div class="team-page__header-left">
    <img src="{{model.imgUrl}}" alt="" class="team-page__logo">
  </div>
  <div class="team-page__header-right">

    <div class="team-page__stats">
      <ul class="team-stats__ul">
        <li class="team-stats__li">Year Established: {{model.established}}</li>
        <li class="team-stats__li">Record: {{model.totalRecord}}</li>
        <li class="team-stats__li">Where Do the {{model.name}} play? {{model.stadiumName}}</li>
        <li class="team-stats__li">Conference: {{model.conference}}</li>
        <li class="team-stats__li">Division: {{model.division}}</li>
      </ul>
      <ul class="team-stats__ul">
        <li class="team-stats__li">Team Owner: {{model.owner}}</li>
        <li class="team-stats__li">General Manager: {{model.generalManager}}</li>
        <li class="team-stats__li">Coach: {{model.coach}}</li>
        <li class="team-stats__li">Coach Record: {{model.coachRecord}}</li>
        <li class="team-stats__li">Star Player: {{model.startPlayer}}</li>
        <li class="team-stats__li">Fun Fact: {{model.description}}</li>
      </ul>
    </div>
  </div>
</div>
{{!-- <img src="{{model.stadiumImg}}" alt="">
<img src="{{model.stadiumMap}}" alt="">
<img src="{{model.citySkyline}}" alt=""> --}}
{{!--
<p class="#">{{model.airport}}</p>
{{team-schedule team=model}}
{{#link-to "team-page.activities" "Eat"}}Eat{{/link-to}}
{{#link-to "team-page.activities" "Travel"}}Travel{{/link-to}}
{{#link-to "team-page.activities" "Stay"}}Stay{{/link-to}} --}}
{{outlet}}
